html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
}

p {
  color: #274f67;
}

li {
  list-style: none;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  width: 85%;
  overflow: scroll;
}
.menu {
  width: 15%;
  background-color: #d3e2eb;
  padding: 10px 20px 0px;
}

.header {
  background-color: #d3e2eb;
  min-height: 150px;
}

.menu a img {
  width: 100px;
}
.content {
  background-color: #ffffff;
  flex: 1;
}
.content section {
  display: flex;
  padding: 20px 20px 0;
}
.footer {
  background-color: #0a8cbf;
  min-height: 150px;
}
