html,
body {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #1b1b1b;
}
ul {
  padding: 0;
}

a {
  font-weight: 600;
  color: #7e84f2;
}

a:hover {
  color: #0a8cbf;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}
strong {
  color: #49d3f2;
}

p {
  color: #274f67;
  font-weight: 600;
  line-height: 1.35rem;
}

li {
  list-style: none;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  width: 85%;
  overflow: scroll;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  background-color: #d7e4ff;
}

.menu img {
  padding: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  background-color: #0a8cbf;
  min-height: 150px;
}

.header button {
  margin-top: 1rem;
  margin-right: 20px;
  padding: 1rem 2rem;
  background: #13c7f0;
  color: #fff;
}

.header button:hover {
  background: #49d3f2;
}

.menu a img {
  width: 100px;
}
.content {
  flex: 1;
  background: #fff;
}

.content h1 {
  color: #3b3b3b;
}

.content p {
  color: #0a8cbf;
  font-size: 16px;
  font-weight: normal;
  line-height: 2rem;
}

.content section {
  display: flex;
  padding: 20px 20px 0;
}

.form {
  height: 200px;
  background: #7348d4;
  justify-content: center;
  align-items: center;
}
.form-types {
  align-items: center;
  display: flex;
  color: #f1f1f1;
  flex-direction: column;
}

fieldset {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 16px;
}

input {
  padding: 8px;
}

textarea,
input,
fieldset {
  border: 2px #f1f1f1 solid;
  border-radius: 4px;
}
.submit {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #f553cf;
  border-radius: 4px;
  padding: 8px 12px;
  color: #f1f1f1;
  font-weight: 600;
  border: none;
}

.services {
  display: flex;
  flex-direction: column;
  background: #7e84f2;
  color: #ececec;
}

.services p {
  color: #f1f1f1;
}

.header-services {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding: 32px 0 0 0;
}

.header-services img {
  width: 70%;
  object-fit: cover;
}

.services .cards {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 4em;
  padding: 0 0 16px 0;
}

.services .cards .card {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #274f67;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
}

.services .cards .card p {
  color: #274f67;
  font-weight: normal;
}
.card img {
  width: 180px;
  height: 150px;
  object-fit: contain;
}

.card1 {
  background-color: #ffe3fd;
}
.card2 {
  background-color: #d7e4ff;
}
.card3 {
  background-color: #e9cfff;
}
.card4 {
  background-color: #eefffd;
}

.dentists {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: #274f67;
}

.dentist p {
  color: #274f67;
}

.dentists .cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 0 16px 0;
}

.dentists .card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  margin-top: 32px;
  background: #c1f4ff;
}
.dentists .card img {
  padding: 16px 0 0 0;
  background: #ffffff;
  border-radius: 8px;
}

.dentists .card p {
  font-weight: normal;
}
.footer {
  background-color: #0a8cbf;
  min-height: 150px;
}
